.item {
    color: rgba(22, 24, 35, 0.5);
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
    &:hover {
        color: rgba(22, 24, 35, 0.5);
        text-decoration: underline;
    }
}
.wrapper {
    margin-bottom: 8px;
}
