.wrapper {
    height: calc(450px + (100vw - 768px) / 1152 * 100);
    position: relative;
    box-sizing: border-box;

    background-size: cover;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 20px;
    .opa {
        opacity: 0;
        transition: opacity 0.3s ease 0s;
    }
    &:hover .opa {
        opacity: 1;
    }
}
.play {
    left: 12px;
    position: absolute;
    padding: 10px;
    width: 40px;
    height: 40px;
    transition: opacity 0.3s;
    bottom: 26px;
    z-index: 99999;
    color: var(--white);
    display: flex;
}
.video {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}
.sound {
    display: flex;
    position: absolute;
    bottom: 26px;
    right: 12px;
    padding: 8px;
    width: 40px;
    height: 40px;
    transition: opacity 0.3s;
}
.divSeekBar {
    width: 100%;
    height: 16px;
    --height-seekbar: 2px;
    position: relative;
    &::before {
        content: '';
        width: 99%;
        height: var(--height-seekbar);
        background-color: rgba(255, 255, 255, 0.34);
        display: block;
        position: absolute;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
    &:hover {
        --height-seekbar: 4px;
    }
    &:hover .run {
        display: block;
    }
}
.wrapperSeek {
    width: 100%;
    height: 16px;
    padding-inline: 12px;
    position: absolute;
    transition: opacity 0.3s ease 0s;
    bottom: 12px;
    cursor: initial;
    display: flex;
}
.timer {
    flex: 0 0 64px;
    max-width: 64px;
    margin-inline-start: 8px;
    font-size: 10px;
    line-height: 16px;
    color: rgb(255, 255, 255);
    text-align: end;
    white-space: nowrap;
}
.seekBar {
    height: var(--height-seekbar);
    width: 100%;
    background-color: transparent;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
}
.run {
    display: block;
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
    display: none;
    pointer-events: none; /* Remove pointer events on thumb so user can click on the actual thumb beaneath it!  */
    user-select: none; /*  Prevent Accidentally highlighting the number while sliding the cursor  */
    margin-left: 10px;
}

.current_time {
    height: var(--height-seekbar);
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transform-origin: left center;
}
.seekBar_horizontal {
    width: 2px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.34);
    bottom: 8px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-appearance: slider-vertical;
    z-index: 1;
    opacity: 0;
}
.run_horizontal {
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    position: absolute;
    left: 50%;
    cursor: pointer;
    z-index: 2;
    bottom: 8px;
    transform: translateX(-50%);
    pointer-events: none; /* Remove pointer events on thumb so user can click on the actual thumb beaneath it!  */
    user-select: none; /*  Prevent Accidentally highlighting the number while sliding the cursor  */
}
.current_time_horizontal {
    width: 3px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 8px;
    cursor: pointer;
    display: flex;
    right: 50%;
    justify-content: flex-end;
    transform: translateX(50%);
    transform-origin: center bottom;
    pointer-events: none; /* Remove pointer events on thumb so user can click on the actual thumb beaneath it!  */
    user-select: none;
}
.horizontal {
    width: 24px;
    height: 64px;
    margin: 8px 7px 0px;
    position: relative;
    cursor: initial;
    background: rgba(22, 24, 35, 0.34);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
        content: '';
        width: 3px;
        height: 48px;
        background-color: rgba(255, 255, 255, 0.34);
        color: #fff;
        display: block;
        position: absolute;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
}
