.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 0px;
    border-radius: 50%;
    transition: all ease-in-out 200ms;
    background-color: rgba(22, 24, 35, 0.06);
    margin-top: 8px;
    margin-bottom: 6px;
    filter: drop-shadow(1px 1px 1px hsl(0deg 0% 0% / 0.3));
}
.quantity {
    display: flex;
    color: rgba(22, 24, 35, 0.75);
    font-size: 12px;
    line-height: 17px;
    justify-content: center;
}
.heartActive {
    animation: identifier linear 0.2s;
    transition: all linear;
}
@keyframes identifier {
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1.5);
    }
}
