.rs_accout {
    padding: 9px 16px;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 12px;
        object-fit: cover;
    }
    h4 {
        font-size: 1.6rem;
        font-weight: 600;
        margin: 0;
    }
    .dev {
        font-size: 1.4rem;
        color: rgba(22, 24, 35, 0.5);
        font-weight: 400;
    }
}
.icon {
    margin-left: 6px;
    font-size: 14px;
    color: rgb(32, 213, 236);
}
