.wapper {
    padding: 16px 0;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0px;
        width: calc(100% - 16px);
        height: 1px;
        background: rgba(22, 24, 35, 0.12);
        transform: scaleY(0.5);
    }
}
.title {
    padding: 0 8px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 500;
    margin-bottom: 8px;
}

.container {
    display: flex;
    padding: 8px;
    border-radius: 4px;

    // align-items: center;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    cursor: pointer;
}
.avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 12px;
}
.title_item {
    color: rgb(22, 24, 35);
    font-size: 1.6rem;
    line-height: 22px;
    margin: 0;
    max-width: 260px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.icon_check {
    font-size: 1.4rem;
    margin-left: 4px;
    color: #20d5ec;
}
.nickname {
    font-size: 12px;
    line-height: 15px;
    max-width: 260px;
    color: rgba(22, 24, 35, 0.75);
}
.see_all {
    font-size: 1.4rem;
    line-height: 20px;
    padding: 0 8px;
    margin-top: 8px;
    font-weight: 600;
    color: var(--primary);
    cursor: pointer;
}
